@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.btn {
  @apply text-white bg-[#8a4af3] rounded-md shadow-md mt-[30px] p-3;
}
.summary {
  @apply flex justify-center mt-3 w-[100%];
}
.item {
  @apply flex w-[100%] h-auto md:flex-row items-center flex-col mb-8;
}
.quantity {
  @apply flex-auto flex flex-col justify-center items-center md:mt-0 md:mb-0 mt-8 mb-8;
}

@tailwind utilities;
